<h1>Listing Articles</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>